<nav class="navbar-collapse collapse navbar-inverse" [ngClass]="{in: isCollapsed}">
  <ul class="nav navbar-nav">
    <li>
      <a href="https://docs.openshift.com/enterprise/latest/welcome/index.html">
        <span class="fa fa-book fa-fw" aria-hidden="true"></span> Documentation
      </a>
    </li>
    <li>
      <a href="about">
        <span class="pficon pficon-info fa-fw" aria-hidden="true"></span> About
      </a>
    </li>
    <li>
      <a href="logout">
        <span class="pficon pficon-user fa-fw" aria-hidden="true"></span> Log out <span class="username">openshift-dev</span>
      </a>
    </li>
  </ul>
</nav>