<default-header></default-header>

<div class="visible-xs-block">
    <navbar-utility-mobile></navbar-utility-mobile>
</div>

<div class="row">
  <div class="col-md-2 about-icon gutter-top hidden-sm hidden-xs">
    
  </div>
  <div class="col-md-9">
    <h1>Repeid by Sistcoop&reg;</h1>
    <h2>About</h2>
    <p><a target="_blank" href="https://repeid.com">OpenShift</a> is Sistcoop's Platform-as-a-Service (PaaS) that allows developers
      to quickly develop, host, and scale applications in a cloud environment.</p>

    <h2 id="version">Version</h2>
    <dl class="dl-horizontal left">
      <dt>Repeid Master:</dt>
      <dd>unknown</dd>
      <dt>Kubernetes Master:</dt>
      <dd>unknown</dd>
    </dl>

    <p>The <a target="_blank" href="">documentation</a> contains information and guides to help you
      learn about OpenShift and start exploring its features. From getting started with creating your first application,
      to trying out more advanced build and deployment techniques, it provides what you need to set up and manage your OpenShift
      environment as an application developer.</p>

    <p>With the Repeid command line interface (CLI), you can create applications and manage OpenShift projects from a terminal.
      To get started using the CLI, visit <a href="command-line">Command Line Tools</a>.
    </p>

  </div>
</div>