<div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active">
      <a>
        <span class="fa fa-dashboard"></span>
        <span class="list-group-item-value">Overview</span>
      </a>
    </li>
     <li class="list-group-item" routerLinkActive="active">
      <a href="#">
        <span class="fa fa-android"></span>
        <span class="list-group-item-value">Documents</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a>
        <span class="fa fa-server"></span>
        <span class="list-group-item-value">Settings</span>
      </a>
    </li>
  </ul>
</div>