<ul class="list-group">
  <li class="list-group-item" routerLinkActive="active">
    <a [routerLink]="['/home']" >
      <span class="fa fa-dashboard"></span>
      <span class="list-group-item-value">Home</span>
    </a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a [routerLink]="['/about']">
      <span class="fa fa-dashboard"></span>
      <span class="list-group-item-value">About</span>
    </a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a [routerLink]="['/facturas']" routerLinkActive="active">
      <span class="fa fa-dashboard"></span>
      <span class="list-group-item-value">Facturas</span>
    </a>
  </li>
</ul>