<default-header (onCollapsedChanged)="onCollapsedChangedByChildren($event)"></default-header>

<div class="visible-xs-block">
    <navbar-utility-mobile [isCollapsed]="isCollapsed"></navbar-utility-mobile>
</div>

<div class="container-fluid container-cards-pf">

    <div class="row row-cards-pf">
        <div class="col-md-10 col-md-offset-1">

            <!--Header page-->
            <h1 style="margin: 10px 0px 20px; display: inline-block;">Organizations</h1>
            <a style="margin-top: 10px;" href="" [routerLink]="['./create-organization']" class="btn btn-lg btn-primary pull-right">Create organization</a>
            <!--End Header page-->

            <div *ngFor="let item of projects" class="card-pf">
                <div class="card-pf-heading">
                    <a href="javascript:void(0)" class="card-pf-heading-details" (click)="deleteOrganization(item)">
                        <i class="fa fa-trash-o"></i>
                        <span class="sr-only">Delete Project {{item.name}}</span>
                    </a>
                    <h2 class="card-pf-title">
                        <a href="javascript:void(0)" (click)="editOrganization(item)">{{item.name}}</a>
                    </h2>
                    <div style="margin-bottom: 10px;">
                        <span>{{item.description}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>